<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>我們的專題團隊</title>
    <link rel="stylesheet" href="static/css/we.css">
</head>
<body>
    <a href="/" class="back-button">主頁</a>
    <h1>我們的專題團隊</h1>

    <div class="team-container">
        <!-- 老師 -->
        <div class="team-member teacher-card">
            <img src="/static/images/pro.png" alt="指導老師">
            <h2>徐武孝</h2>
            <p>指導教授:專業指導與學術支持，為團隊提供寶貴建議。</p>
        </div>

        <!-- 組員 -->
        <div class="team-member">
            <img src="/static/images/ys.jpg" alt="陳衍碩">
            <h2>陳衍碩</h2>
            <p>負責技術規劃與前後端開發，才剛學HTML、CSS和JavaScript。</p>
        </div>
        <div class="team-member">
            <img src="/static/images/bk.jpg" alt="楊博凱">
            <h2>楊博凱</h2>
            <p>主要負責AI和機器學習，擁有深厚的數據分析能力。</p>
        </div>
        <div class="team-member">
            <img src="/static/images/jh.jpg" alt="蔡杰宏">
            <h2>蔡杰宏</h2>
            <p>主要負責AI和機器學習，專注於調用各種模型。</p>
        </div>
        <div class="team-member">
            <img src="/static/images/yc.jpg" alt="蔡育誠">
            <h2>蔡育誠</h2>
            <p>主要負責前後端，專注於系統架構設計。</p>
        </div>
    </div>

    <div class="description">
        <p>我們的專題團隊有多元技術與對程式的熱情，致力於開發畢業專題，希望我們順利畢業。</p>
    </div>
</body>
</html>